{% extends "base.html" %}
{% block title %}The Easy Eater | Login{% endblock %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<style>
  .login-page {
    background-image: url('https://res.cloudinary.com/djebesftb/image/upload/v1711549268/WAS_1_g2mrqb.png'); /* Replace 'path/to/your/image.jpg' with the actual path to your image */
    background-size: cover;
    background-position: center;
  }
</style>

<div class="container login-page"> <!-- Add the class here -->
  <h1 class="page-title">{% trans "Log in" %}</h1>
  <hr class="home-break">
  <br>
  <p class="text-center mt-3">{% blocktrans %}
    Welcome back to the web application|security blog. To leave a comment or like a post, please log in. If you
    have not created an account yet, then
    <a href="{{ signup_url }}" class="text-dark"><u>Sign up</u></a>{% endblocktrans %}</p>
  <div class="row justify-content-center">
    <div class="col-11 col-md-6 col-lg-4 mt-3 mb-3">
      <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="btn btn-outline-dark" type="submit">{% trans "Log in" %}</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
