{% load static %}
{% load cloudinary %}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Making application security stress-free for your everyday needs.">
    <meta name="keywords" content="Digital Security Hub, Next-Gen Security Solutions, Network Protection Center, Secure Tomorrow's Networks">
    <meta name="author" content="Software Guys">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="https://res.cloudinary.com/djebesftb/image/upload/v1711536742/apple-touch-icon_givvod.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://res.cloudinary.com/djebesftb/image/upload/v1711536725/favicon-32x32_tqppu1.png">

    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block title %}The Optimal Solutions{% endblock %}</title>
</head>

<body>
    <div class="content">
        <!-- Header starts -->
        <header>
            <!-- Navigation -->
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container">
                    <a class="navbar-brand" href="{% url 'home' %}">
                        <span class="brand">web<span class="red-o" style="color:#4aa1d3;">applica</span>tion<span class="thin">|security</span>
                        </span>
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'home' %}">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'browse_securityfeatures' %}">Browse Security Features</a>
                            </li>
                            {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'add_securityfeature' %}">Add Security Feature</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'my_techsecurity' %}">My Tech Security</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{ user.username }}
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="{% url 'my_securityfeatures' %}">My Security Features</a>
                                    <a class="dropdown-item" href="{% url 'my_bookmarks' %}">My Bookmarks</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a>
                                </div>
                            </li>
                            {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'account_signup' %}">Sign up</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'account_login' %}">Log in</a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <!-- Header ends -->

        <!-- Main Content -->
        <main class="main-bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        {% for message in messages %}
                        <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                            {{ message|safe }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            {% block content %}
            <!-- Content Goes here -->
            {% endblock content %}
        </main>
        <!-- Main Content ends -->

        <!-- Footer -->
        <footer>
            <div class="container footer-container">
                <ul class="social-networks">
                    <li><a href="https://www.facebook.com/" target="_blank" rel="noopener" aria-label="Visit our Facebook page (opens in new tab)"><i class="fab fa-facebook"></i></a></li>
                    <li><a href="https://www.instagram.com/" target="_blank" rel="noopener" aria-label="Visit our Instagram page (opens in new tab)"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="https://twitter.com/" target="_blank" rel="noopener" aria-label="Visit our Twitter page (opens in new tab)"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="https://www.youtube.com/" target="_blank" rel="noopener" aria-label="Visit our Youtube page (opens in new tab)"><i class="fab fa-youtube"></i></a></li>
                </ul>
            </div>
        </footer>
        <!-- Footer ends -->
    </div>

    <!-- Script to manage messages fading -->
    <script>
        setTimeout(function () {
            let messages = document.querySelectorAll('.alert');
            messages.forEach(function (msg) {
                new bootstrap.Alert(msg).close();
            });
        }, 3000);
    </script>

    <!-- Font Awesome script -->
    <script src="https://kit.fontawesome.com/08445b6b20.js" crossorigin="anonymous"></script>

     <!-- Bootstrap scripts -->
     <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
     integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
 </script>
 <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
     integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
 </script>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
     integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous">
 </script>
</body>

</html>