{% extends "base.html" %}
{% block title %}The Optimal Solutions | My Bookmarks{% endblock %}
{% block content %}

{% if user.is_authenticated %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="page-title">My Bookmarks</h1>
        </div>
    </div>
    <hr class="home-break">
    <br>
    <!-- Security Feature Cards -->
    <div class="row card-deck">
        {% for securityfeature in securityfeature_list %}
        <div class="col-sm-6 col-md-4 col-lg-3 px-1 d-flex align-items-stretch">
            <div class="card card-detail securityfeature-card mb-3 shadow-sm mx-auto mx-sm-2">
                {% if "placeholder" in securityfeature.image.url %}
                    <img class="card-img-top" alt="placeholder image"
                        src="https://res.cloudinary.com/djebesftb/image/upload/v1711544536/Web-Application-Security1_utblhf.webp">
                {% else %}
                    <img src="{{ securityfeature.image.url }}" alt="securityfeature image" class="card-img-top">
                {% endif %}
                <div class="card-body pb-1">
                    <h2 class="card-title securityfeature-detail-title text-truncate">{{ securityfeature.title }}</h2>
                    <p class="card-text">
                        <span><i class="far fa-clock pr-2"></i></span>
                        <span>Resolve Time: {{ securityfeature.resolve_time }}</span>
                    </p>
                    <!-- Check if securityfeature is bookmarked by the user -->
                    {% if securityfeature in user.bookmarks.all %}
                        <p>Bookmarked</p>
                    {% else %}
                        <p>Not Bookmarked</p>
                    {% endif %}
                    <a href="{% url 'securityfeature_detail' securityfeature.slug %}" class="stretched-link"
                        aria-label="securityfeature-detail"></a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% include "paginator.html" %}
{% endif %}

{% endblock %}