{% extends 'base.html' %}
{% block title %}The Optimal Solutions | {{ securityfeature.title }}{% endblock %}
{% block content %}
{% load crispy_forms_tags %}

<div class="container p-0">
    <div class="container pt-3">
        <!-- Security Feature Details -->
        <div class="card mb-3 securityfeature-detail-card">
            <!-- Security Feature Image -->
            <div class="row no-gutters">
                <div class="col-12 col-md-4">
                    {% if "placeholder" in securityfeature.image.url %}
                    <img src="https://res.cloudinary.com/djebesftb/image/upload/v1711776946/security_be3zeq.jpg"
                        class="securityfeature-detail-img" alt="placeholder image">
                    {% else %}
                    <img src="{{ securityfeature.image.url }}" alt="securityfeature image" class="securityfeature-detail-img">
                    {% endif %}
                </div>
                <!-- Security Feature Details -->
                <div class="col-12 col-md-8">
                    <div class="card-body securityfeature-detail-outer py-2">
                        <div>
                            <h1 class="card-title page-title securityfeature-title text-left">{{ securityfeature.title }}</h1>
                        </div>
                        <p class="card-text">Author: {{ securityfeature.author }}</p>
                        <div class="mb-5">
                            <p>
                                <span><i class="far fa-clock pr-2"></i></span>
                                <span>Cook Time: {{ securityfeature.search_time }}</span>
                            </p>
                        </div>
                        <!-- Action Buttons -->
                        <div class="action-buttons-outer d-block">
                            {% if user.is_authenticated %}
                            <!-- Add to Tech Security Button -->
                            <button type="button" class="btn btn btn-outline-dark mp-button rounded-pill mr-2"
                                data-toggle="modal" data-target="#techsecurityModal">
                                <span><i class="fas fa-calendar-plus pr-1"></i></span>
                                Add to Tech Security
                            </button>
                            <!-- Tech Security Modal -->
                            <div class="modal fade" id="techsecurityModal" tabindex="-1"
                                aria-labelledby="techsecurityModalLabel" aria-hidden="true">
                                <!-- Modal Content -->
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="techsecurityModalLabel">Select Day</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <!-- Tech Security Form -->
                                        <form method="post" class="add-securityfeature">
                                            <div class="modal-body">
                                                {{ techsecurity_form | crispy }}
                                                {% csrf_token %}
                                            </div>
                                            <div class="modal-footer">
                                                <button type="submit" class="btn btn-outline-dark btn-sm">
                                                    <span><i class="fas fa-calendar-plus pr-1"></i></span>
                                                    Add to Tech Security
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            <!-- Bookmark Button -->
                            {% if user.is_authenticated %}
                            <form class="d-inline" action="{% url 'bookmark_securityfeature' securityfeature.slug %}" method="POST">
                                {% csrf_token %}
                                <button class="action-btn btn btn-info" type="submit" name="bookmark_id"
                                    value="{{ securityfeature.slug }}" aria-label="bookmark-outline">
                                    {% if bookmarked %}
                                    <i class="fas fa-bookmark"></i>
                                    {% else %}
                                    <i class="far fa-bookmark"></i>
                                    {% endif %}
                                </button>
                            </form>
                            {% endif %}
                            <!-- Edit and Delete Buttons -->
                            {% if user.is_authenticated and securityfeature.author == user %}
                            <span>
                                <a class="action-btn btn btn-info" href="{% url 'update_securityfeature' securityfeature.slug %}"
                                    aria-label="edit-securityfeature">
                                    <i class="fas fa-edit"></i>
                                </a>
                            </span>
                            <span>
                                <a class="action-btn btn btn-info" href="{% url 'delete_securityfeature' securityfeature.slug %}"
                                    aria-label="delete-securityfeature">
                                    <i class="fas fa-times"></i>
                                </a>
                            </span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Description and Method -->
    <div class="container text-center">
        <div class="row">
            <!-- Description -->
            <div class="col">
                <div class="card mb-3 securityfeature-detail-card">
                    <h5 class="card-header securityfeature-detail-header">Description</h5>
                    <div class="card-body">
                        <p class="card-text">{{ securityfeature.description | safe }}</p>
                    </div>
                </div>
            </div>
            <!-- Method -->
            <div class="col">
                <div class="card mb-3 securityfeature-detail-card">
                    <h5 class="card-header securityfeature-detail-header">Method</h5>
                    <div class="card-body">
                        <div class="card-text">{{ securityfeature.method | safe }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Comments Section -->
{% if comments %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card securityfeature-detail-card">
                <h3 class="card-header securityfeature-detail-header text-left">Comments</h3>
                <div class="card-body">
                    {% for comment in comments %}
                    <div>
                        <p class="font-weight-bold">
                            {{ comment.name }}
                            <span class=" text-muted font-weight-normal">
                                {{ comment.created_on }}
                            </span>
                            {% if user.is_authenticated and user.username == comment.name %}
                            <span class="comment-action-btn pl-2">
                                <a href="{% url 'update_comment' comment.id %}" aria-label="edit-comment"><i
                                        class="fas fa-edit link-primary"></i></a>
                                <a href="{% url 'delete_comment' comment.id %}" aria-label="delete-comment"><i
                                        class="fas fa-times"></i></a>
                            </span>
                            {% endif %}
                        </p>
                        {{ comment.body | linebreaks }}
                        <hr>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if user.is_authenticated %}
<!-- Create comment -->
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card securityfeature-detail-card mb-3 mt-3">
                <div class="card-body">
                    <p>Leave a comment as: {{ user.username }}</p>
                    <form method="post">
                        {{ comment_form | crispy }}
                        {% csrf_token %}
                        <button type="submit" class="btn btn-outline-dark">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock content %}