{% extends 'base.html' %}
{% block title %}The Optimal Solutions | {{ securityfeature.title }}{% endblock %}
{% block content %}
{% load crispy_forms_tags %}

<div class="container p-0">
    <!-- Security Feature Detail Card -->
    <div class="container pt-3">
        <div class="card mb-3 securityfeature-detail-card">
            <div class="row no-gutters">
                <!-- Security Feature Image -->
                <div class="col-12 col-md-4">
                    {% if "placeholder" in securityfeature.image.url %}
                    <img src="https://res.cloudinary.com/djebesftb/image/upload/v1711537351/Authen_Author_1_jtpr6g.jpg"
                        class="securityfeature-detail-img" alt="placeholder image">
                    {% else %}
                    <img src="{{ securityfeature.image.url }}" alt="securityfeature image" class="securityfeature-detail-img">
                    {% endif %}
                </div>
                <!-- Security Feature Details -->
                <div class="col-12 col-md-8">
                    <div class="card-body securityfeature-detail-outer py-2">
                        <div>
                            <!-- Security Feature Title -->
                            <h1 class="card-title page-title securityfeature-title text-left">{{ securityfeature.title }}</h1>
                        </div>
                        <!-- Security Feature Metadata -->
                        <p class="card-text">Author: {{ securityfeature.author }}</p>
                        <div class="mb-5">
                            <p>
                                <span><i class="far fa-clock pr-2"> </i></span>
                                <span>Setup Time: {{ securityfeature.setup_time }}</span>
                            </p>
                            <p>
                                <span><i class="far fa-clock pr-2"></i></span>
                                <span>Search Time: {{ securityfeature.search_time }}</span>
                            </p>
                        </div>
                        <!-- Security Feature Action Buttons -->
                        <div class="action-buttons-outer d-block">
                            {% if user.is_authenticated %}
                            <!-- Button to Add to Tech Security -->
                            <button type="button" class="btn btn btn-outline-dark mp-button rounded-pill mr-2"
                                data-toggle="modal" data-target="#techsecurityModal">
                                <span><i class="fas fa-calendar-plus pr-1"></i></span>
                                Add to Tech Security
                            </button>
                            <!-- Tech Security Modal -->
                            <div class="modal fade" id="techsecurityModal" tabindex="-1"
                                aria-labelledby="techsecurityModalLabel" aria-hidden="true">
                                <!-- Modal Content -->
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="techsecurityModalLabel">Select Day</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <form method="post" class="add-securityfeature">
                                            <div class="modal-body">
                                                {{ techsecurity_form | crispy }}
                                                {% csrf_token %}
                                            </div>
                                            <div class="modal-footer">
                                                <button type="submit" class="btn btn-outline-dark btn-sm">
                                                    <span><i class="fas fa-calendar-plus pr-1"></i></span>
                                                    Add to Tech Security
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- End of Tech Security Modal -->
                            {% endif %}
                            <!-- Form to Like/Bookmark/Delete -->
                            <form class="d-inline" action="{% url 'bookmark_securityfeature' securityfeature.slug %}" method="POST">
                                <!-- Bookmark Button -->
                                {% csrf_token %}
                            </form>
                            <!-- Edit/Delete Buttons for Author -->
                            {% if user.is_authenticated and securityfeature.author == user %}
                            <!-- Edit Button -->
                            <span>
                                <a class="action-btn btn btn-info" href="{% url 'update_securityfeature' securityfeature.slug %}"
                                    aria-label="edit-securityfeature">
                                    <i class="fas fa-edit"></i>
                                </a>
                            </span>
                            <!-- Delete Button -->
                            <span>
                                <a class="action-btn btn btn-info" href="{% url 'delete_securityfeature' securityfeature.slug %}"
                                    aria-label="delete-securityfeature">
                                    <i class="fas fa-times"></i>
                                </a>
                            </span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Description -->
    <div class="container text-center">
        <!-- Description Card -->
        <div class="card mb-3 securityfeature-detail-card">
            <h5 class="card-header securityfeature-detail-header">
                Description
            </h5>
            <div class="card-body">
                <p class="card-text">{{ securityfeature.description | safe }}</p>
            </div>
        </div>
    </div>
    <!-- Method -->
    <div class="container">
        <!-- Method Card -->
        <div class="card mb-3 securityfeature-detail-card">
            <h5 class="card-header securityfeature-detail-header">Method</h5>
            <div class="card-body">
                <div class="card-text">{{ securityfeature.method | safe }}</div>
            </div>
        </div>
    </div>
</div>

<!-- Comments section -->
{% if comments %}
<!-- Comments Container -->
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card securityfeature-detail-card">
                <h3 class="card-header securityfeature-detail-header text-left">Comments</h3>
                <div class="card-body">
                    {% for comment in comments %}
                    <div>
                        <p class="font-weight-bold">
                            {{ comment.name }}
                            <span class=" text-muted font-weight-normal">
                                {{ comment.created_on }}
                            </span>
                            {% if user.is_authenticated and user.username == comment.name %}
                            <span class="comment-action-btn pl-2">
                                <a href="{% url 'update_comment' comment.id %}" aria-label="edit-comment"><i
                                        class="fas fa-edit link-primary"></i></a>
                                <a href="{% url 'delete_comment' comment.id %}" aria-label="delete-comment"><i
                                        class="fas fa-times"></i></a>
                            </span>
                            {% endif %}
                        </p>
                        {{ comment.body | linebreaks }}
                        <hr>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if user.is_authenticated %}
<!-- Like/Bookmark -->
<div class="container">
    {% if user.is_authenticated %}
        <form action="{% url 'securityfeature_like' securityfeature.slug %}" method="POST">
            {% csrf_token %}
            {% if liked %}
            <span>
                <button class="btn-like" type="submit" name="securityfeature_id" value="{{securityfeature.slug}}">
                    <i class="fa-solid fa-heart fa-xl" style="color: #db0000;"></i>
                </button>
                {{ securityfeature.number_of_likes }}
            </span>
            {% else %}
            <span>
                <button class="btn-like" type="submit" name="securityfeature_id" value="{{securityfeature.slug}}">
                    <i class="far fa-heart fa-xl"></i>
                </button>
                {{ securityfeature.number_of_likes }}
            </span>
            {% endif %}
        </form>
        <form action="{% url 'bookmark_securityfeature' securityfeature.slug %}" method="POST">
            {% csrf_token %}
            {% if bookmarked %}
            <span class="bookmark-icon">
                <button class="btn-like" type="submit" name="securityfeature_id" value="{{securityfeature.slug}}">
                    <i class="fa-solid fa-bookmark fa-xl"></i>
                </button>
            </span>
            {% else %}
            <span class="bookmark-icon">
                <button class="btn-like" type="submit" name="securityfeature_id" value="{{securityfeature.slug}}">
                    <span style="color: blue;"><i class="fa-regular fa-bookmark fa-xl"></i></span> 
                </button>
            </span>
            
            {% endif %}
        </form>
    {% else %}
        <span><i class="far fa-heart fa-xl"></i> {{ securityfeature.number_of_likes }}</span>
    {% endif %}
</div>
<!-- Create comment -->
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card securityfeature-detail-card mb-3 mt-3">
                <div class="card-body">
                    <p>Leave a comment as: {{ user.username }}</p>
                    <form method="post">
                        {{ comment_form | crispy }}
                        {% csrf_token %}
                        <button type="submit" class="btn btn-outline-dark">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock content %}