
{% extends "base.html" %}
{% block title %}The Optimal Solutions | My My Tech Security{% endblock %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="page-title">My Tech Security</h1>
        </div>
    </div>
    <hr class="home-break">
    <br>
    <!-- Tech Secure Card -->
    <div class="row card-deck justify-content-center">
        {% for day, meal in sechsecurity.items  %}
        <div class="col-sm-6 col-md-4 col-lg-3 px-1 d-flex align-items-stretch">
            <div class="card card-detail sechsecurity-card mb-3 shadow-sm mx-auto mx-sm-2">
                <div class="card-header sechsecurity-card-header">
                    <h2 class="card-title sechsecurity-title">{{ day }} </h2>
                </div>
                {% if meal %}
                {% if "placeholder" in meal.recipe.image.url %}
                <img src="https://res.cloudinary.com/djebesftb/image/upload/v1711031059/Web-Application-Security_1_wbxthr.webp"
                    class="card-img-top" alt="placeholder image">
                {% else %}
                <img src=" {{ meal.securityfeature.image.url }}" alt="securityfeature image" class="card-img-top">
                {% endif %}
                <div class="card-body">
                    <h3 class="card-title securityfeature-detail-title text-center text-truncate">{{ meal.recipe.title }}</h3>
                    <a href="{% url 'securityfeature_detail' meal.securityfeature.slug %}" class="stretched-link"
                        aria-label="securityfeature-detail"></a>
                </div>
                {% else %}
                <i class="fas fa-calendar-plus mp-icon fa-6x card-img-top"></i>
                <div class="card-body">
                    <h3 class="card-title securityfeature-detail-title text-center">Add SecurityFeature</h3>
                    <a href="{% url 'browse_securityfeatures' %}" class="stretched-link" aria-label="browse-securityfeatures"></a>
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
